html,body{
  background-color: rgb(229, 231, 234);
  text-align: center;
  background-attachment: fixed;
}
li,ul
{
  background-color: rgb(88, 98, 114);
  font: italic 1em Georgia, Times, serif;
  line-height: 1.5em;
  color : white;
}
#section2{
  display: none;
}

.main-section h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow:5px 5px 16px black;
}

#section3
{
  border: 1px solid black;
  box-sizing:border-box;
  position: relative;
}

#ul
{
  list-style-type:none;

}
#hamburger
{
  float: left;
  transition: 0.3s;
}
